.resultsHeroWrapper {
    display: flex;
    flex-direction: row;
    height: 60vh;
    padding: 7.5vh 6vw;
}

.leftResultsHeroColumn {
    flex-basis: 66.6%;
    width: 100%;
    z-index: 1;
    padding-right: 10%;
}
.leftResultsHeroColumn h1 {
color: #DECC50;
}
.rightResultsHeroColumn {
    flex-basis: 33.3%;
    width: 100%;
    z-index: 1;
}

.resultsScrollableCtnWrapper {
    height: 40vh;
    display: flex;
    flex-direction: row;
}

.resultsBgVideo {
    position: absolute;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    z-index: -2;
}

.text {
    color: white;
}

h1.text {
    font-size: 4.25rem;
    margin: 0;
}

h2.text {
    font-size: 3rem;
    margin: 0;
}

p.text {
    font-size: 2.15rem;
    margin: 0;
}

.detailsText {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: calc(1.2 * 3); /* line-height * number of lines */    
}



/*   Results Card *********************** */
.resultCardWrapper {
    z-index: 1;
    border-radius: 7.5px;
    position: relative;
    padding: 0 1vw 1vh;
}



.resultCardWrapper > * {
    position: relative;
    z-index: 2;
}


.resultCardWrapper{
    width: 33vw;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}



.verdictFlexBox {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     gap: 0.5vw;
}
.verdictWrapper {
    display: flexbox;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.verdictWrapper::after {
    content: "";
    position: absolute; /* Position the pseudo-element absolutely within the parent */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Make the pseudo-element invisible to mouse events */
    border-radius: 7.5px;
}

.verdictWrapper > * {
    z-index: 2;
    position: relative;
}

.verdictLogo {

}

.outcomeText {
    font-size: 2rem;
}
.outcomeIcon {
    font-size: 3rem;
}

.verdictText {
    color: green;
    font-weight: bold;
    font-size: 2rem;
}

.resultCardCtn {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1vw;
}

.resultCardImageWrapper {
    /* padding: 0.25vw; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.resultCardImageWrapper > * {
    z-index: 2;
    position: relative;
}

.resultImage {
    object-fit: cover;
    border-radius: 7.5px;
}

.informationWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: 0.75vh;
    position: relative;
    color:lightblue;
    height: 175px;
}


.informationWrapper > * {
    position: relative;
    z-index: 2;
}

.textBoxWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;

}
.caseNameText {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1; /* Adjust based on your desired line height */
    max-height: calc(1em * 1); /* line-height * number of lines */    
}