
.communityHeroWrapper {
    width: 100%;
    height: 60vh;
    padding: 10vh 3vw  3vh;
    display: flex;
    flex-direction: row;
}



.communityH1 {
    color: #E6D585;
    text-shadow: 1px 1px #554E31;
    font-size: 5.5rem;
    line-height: 1;
    margin: 0;
}

.communityH2 {
    color: #E2EBFF;
    text-shadow: 1px 1px #BED2FF;
    font-size: 2rem;
}


.leftCommunityColumn {
    display: flex;
    flex-direction: row;
    flex-basis: 66.6%;
    width: 100%;
    padding-right: 15vw;
}


.rightCommunityColumn {
    flex-basis: 33.3%;
    width: 100%;
}

.communityCardWrapper {
    background-color: #000;
    border-radius: 25px;

}

.communityCardVideo {
    height: 24vh;
    width: 24vw;
    object-fit: cover;
    border-radius: 25px;
}

.communityTextWrapper {
    position: absolute;
    height: 24vh;
    width: 24vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
}

.communityPillarTitle {
    color: #E6D585;
    text-shadow: 1px 1px #BED2FF;
    font-size: 2.5rem;
    font-weight: bold;
}

.communityPillarDescription {
    color: #BED2FF;
    text-shadow: 1px 1px #BED2FF;
    font-size: 1.5rem;
}

.cardTitle {
    color: #E6D585;
    text-shadow: 1px 1px #BED2FF;
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
}