

.practiceLeftColumn {
    flex-basis: 66.6%;
    width: 100%;
    /* pointer-events: none; */
    padding-right: 20%;

}

.practiceRightColumn {
    flex-basis: 33.3%;
    width: 100%;
    
}

.piankoKey {
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    /* pointer-events: none; */
}

.dynamicOverlayWrapper {

    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 0;
    pointer-events: all;
}
.dynamicOverlayCtn {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 33.3vh;
    width: 100%;
    top: 66.6%;
}
.wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
    /* pointer-events: none; */
    position: absolute;
    width: 100%;
    padding: 7.5vh 6vw;
    /* top: 0; */
}

.backgroundVideo {
    width: 20%;
    object-fit: cover;
  }

.backgroundVideoPractice {
    height: 33.3vh;
    width: 20%;
    object-fit: cover;
}

.areaOverlay::after {

    content: "";
    background-color: black;
    opacity: 25%;
    position: absolute;
    width: 100%;
    min-height: 33.3vh;
    top: 66.6%;
    pointer-events: none;
}


h1.text  {
    font-size: 6rem;
    line-height: 50%;
}


h2.text  {
    font-size: 4rem;
    line-height: 50%;
}

h3.text  {
    font-size: 1.75rem;
}


.btnCtn {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: start;
    align-items: start;
}

.btn {
    pointer-events: all;
}